<a href="https://colab.research.google.com/github/Habeebiy/Exploring-Gun-Deaths-in-the-US/blob/master/control_structures_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simple exercises for control structures in Python
- conditionals
- while loops
- for loops

## FOR loop

In [2]:
heights = [1.82,1.75,1.68,1.76,1.5]

#### 0. Use for loop to print values from "heights" list

In [3]:
for x in heights:
    print(x)

1.82
1.75
1.68
1.76
1.5

In [5]:
j = [x for x in heights]
print(j)

[1.82, 1.75, 1.68, 1.76, 1.5]

#### 1. Use for loop for printing only values bigger than 1.75

In [11]:
bigger = [x for x in heights if x > 1.75]

In [12]:
bigger

[1.82, 1.76]

#### 2. Use for loop for printing all values until you find value 1.68 (included)

In [18]:
for x in heights:
    if x <= 1.68:
        print(x)

1.68
1.5

#### 3. Modify the previous loop to print all values from `"heights"` without value 1.68

In [ ]:
s = 1.68

In [19]:
for x in heights:
    if x > 1.68:
        print(x)

1.82
1.75
1.76

#### 4. use for loop over to iterate over `"heights"` and print "high" for values bigger than 1.75, "medium" for values between 1.68 and 1.75 and "small" for values lower than 1.68

In [23]:
for s in heights:
    if s > 1.75:
        print('{} = high'.format(s))
    elif s > 1.68 and s < 1.75:
        print('{} = medium'.format(s))
    elif s < 1.68:
        print('{} = small'.format(s))

1.82 = high
1.76 = high
1.5 = small

## WHILE loop

#### 1. Print out numbers from 0 to 4

In [ ]:
s = []
while

#### 2. use while loop to print out only even numbers lower than 15
hint : use `"%"` modulo operator

#### 3. use while loop to print all numbers lower than 15 but skip first five values

## Actors
We have two lists actors and roles which are defined below:

In [25]:
actors = [
    "Nathan Fillion",
    "Gina Torres",
    "Alan Tudyk",
    "Morena Baccarin",
    "Adam Baldwin",
    "Jewel Staite",
    "Sean Maher",
    "Summer Glau",
    "Ron Glass"
]

roles = [
    "Captain Malcolm Reynolds",
    "Zoe Washburn",
    "Hoban Washburn",
    "Inara Serra",
    "Jayne Cobb",
    "Kaylee Frye",
    "Dr. Simon Tam",
    "River Tam",
    "Derrial Book"
]

We would like to produce a credit reel, by matching each actor with their role in the show. We know that both lists are in the correct order, such that for any number—let's say `n`—we know that `actors[n]` and `roles[n]` match. For example, `actors[3]` gives us "Morena Baccarin," and `roles[3]` gives us "Inara Serra," so we know that Morena Baccarin played Inara Serra in the show. **We want to print out the credits for all of the actors in the list.**

Here's an example of what we want to see when the code runs:

Featuring:<br>
=============<br>
Nathan Fillion as Captain Malcolm Reynolds"<br>
....

In [32]:
for actor, role in zip(actors, roles):
    print(actor + ' as ' + role)

Nathan Fillion as Captain Malcolm Reynolds
Gina Torres as Zoe Washburn
Alan Tudyk as Hoban Washburn
Morena Baccarin as Inara Serra
Adam Baldwin as Jayne Cobb
Jewel Staite as Kaylee Frye
Sean Maher as Dr. Simon Tam
Summer Glau as River Tam
Ron Glass as Derrial Book